extends layout

block content
  h1= title
  p Welcome to #{title}
  #create
    input(type='text', name='title', id='title', placeholder='What is your dreams in life?')
    p
      textarea(name='contents', id='contents', placeholder='How to make your dreams come true')
  #accordion
