extends layout

block content
  h1= title
  div(class="alert-message block-message warning")
    p Welcome to #{title}
    #create(class="messagebox")
      input(type='text', name='title', id='title', placeholder='What is your dreams in life?', size='50')
      p
        textarea(name='contents', id='contents', placeholder='How to make your dreams come true?', rows='5', cols='80')
      button(id='createBtn') make a dream
      
  #accordion
