body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button.delButton {
    float: right;
}

button.checkButton {
    float: right;
}​​
button.editButton {
    float: right;
}​​
button.ui-button-icon-only {
    width: 1.2em;
}
.messagebox{
	background-color:  #F7F7F7;
	text-align:center;
}